{% extends "layout.njk" %}

{% block content %}

    <div class="erro">
        <img src="/paginaerro.jpeg" alt="erro404">
        <p>!!Por favor verifique a url digitada!!</p>
    </div>

{% endblock %}